div{
	position:relative;
border: 3 px solid blue;

}
h1 {
	position:absolute;
	color:white;
	font-size:34px;
	top:0;
}
h2
{
position:relative;
	color:white;
	font-size:34px;
	top:0;
}
nav
{
	background-color:blue;
	
}
nav ul li {
	display: inline-block;
	margin-left:20px;
	color: white;
	size:10;
}